h1 a:hover{
    color: black;
    text-decoration:none;
    text-shadow: 10px 0px 60px #000, 0px 0px 30px black;
}
h1 a{
color: #CD8500;
}
.div-background{
    background-image: url('https://1.bp.blogspot.com/-PJoCW-X5s7s/VsdB4l5cByI/AAAAAAAAB00/mnwEtQUO-hk/s1600/IMG_1107%2Bs.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 0px 0px 16px #000, 0px 0px 64px yellow;
}
